<!--main-form-box-->
<div class="main-form-box cnt-section">
	<div class="inner-wrap">
		<div class="form-title-wrap">
			<h2 class="h2-title">Свяжитесь с нами</h2>
		</div>
		<form action="/" class="form-inner-wrap">
			<div class="frm-row">
				<div class="frm-field field-half">
					<input type="text" class="form-input" placeholder="Имя*">
				</div>
				<div class="frm-field field-half">
					<input type="text" class="form-input" placeholder="Компания">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-half">
					<input type="email" class="form-input" placeholder="E-mail*">
				</div>
				<div class="frm-field field-half">
					<input type="text" class="form-input" placeholder="Должность">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-half">
					<input type="tel" class="form-input" placeholder="Номер телефона*">
				</div>
				<div class="frm-field field-half">
					<div class="frm-field-file js-field-file">
						<input type="file" class="js-field-input">
						<button type="submit" class="form-input js-file-button" data-title="Прикрепить файл">
							<span class="button-title">Прикрепить файл</span>
						</button>
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<textarea class="form-input" placeholder="Ваше сообщение"></textarea>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="frm-field field-button">
					<button type="submit" class="btn">Отправить</button>
				</div>
				<div class="frm-field field-info">Нажимая на кнопку «Отправить», вы даете согласие на обработку своих <a href="">персональных данных</a></div>
			</div>
		</form>
	</div>
</div><!--/main-form-box-->

<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<a href="" class="btn btn-action-ico ico-arrow-up"></a>
		<div class="info-wrap">©&nbsp;2023 ООО «ТАЛОС КЕЙС» / Все права защищены</div>
		<div class="info-wrap"><a href="">Политика конфиденциальности</a></div>
	</div>
</footer>
<!-- /footer -->